* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0px 10px;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 880px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.book__content {
  display: flex;
}

.book__number {
  margin: 0px 5px;
}
